* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  letter-spacing: 0px;
}
a {
  text-decoration: none;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  background-color: #ffffff;
}

button {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

input {
  font-family: "Poppins", sans-serif;
}

.header {
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  width: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-size: 1266.42px 743px;
}

.headerImg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.headerContainer {
  padding-top: 46px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 63px;
  position: relative;
  z-index: 1;
}

.drawer {
  display: none;
}

#hambugerMenu {
  display: none;
}

.logo {
  width: 258px;
  margin-left: -4px;
}

.menuLink {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.1em;
  text-align: left;
  color: #8b8b8b;
}

.active {
  display: flex;
  align-items: center;
  column-gap: 4px;
  color: #414880;
  font-weight: 600;
  letter-spacing: 1.6px;
}

.menu {
  display: flex;
  align-items: center;
  column-gap: 46.5px;
  margin-top: -12px;
}
.menuActiveHome {
  color: #414880;
}
.menuActive span {
  align-items: center;

  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.1em;
}
.contactUsName {
  display: flex;
  justify-content: space-between;
}

.menuLinkContact {
  background-color: #ff64ae;
  color: white;
  text-align: center;
  line-height: 54px;
  height: 54px;
  cursor: pointer;
  text-decoration: none;
  border-radius: 50px;
  width: 158px;
  letter-spacing: 2px;
}

.banner {
  position: relative;
  z-index: 1;
  display: flex;

  margin: 0 auto;
}

.contentBanner {
  min-width: 474px;
  color: #091156;
  padding-left: 37px;
  margin-top: 149px;
}

.contentBannerTitle {
  margin-top: 60px;
  font-weight: 600;
  font-size: 48px;
  line-height: 60px;
}

.contentBannerDescription {
  max-width: 474px;
  padding: 7px 0;
  line-height: 24px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1.6px;
  color: #091156;
}

.btnDetail {
  background-color: #ff64ae;
  font-size: 16px;
  border-radius: 50px;
  font-weight: 500;
  width: 200px;
  height: 58.36px;
  text-align: center;
  color: #ffffff;
  letter-spacing: 2px;
  line-height: 58.36px;
  margin-top: 28px;
}

.bannerImg {
  width: 601.5px;
  height: 397.5px;

  margin-top: 147px;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.wrapper {
  position: relative;
}

.section {
  flex-direction: column;
  text-align: center;
  display: flex;
  align-items: center;
}

.mainServiceSection {
  margin-top: 281px;
  color: #ff64ae;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 12px;
  padding-left: 2px;
}

.mainService {
  color: #ff64ae;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 12px;
}

.mainServiceTitle {
  color: #091156;
  font-size: 36px;
  font-weight: 600;
  line-height: 45px;
  margin-bottom: 20px;
  max-width: 432px;
}

.mainServiceDescription {
  height: 51px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px !important;
  letter-spacing: 1.6px;
  color: #8b8b8b;
  max-width: 848px;
}

.featureSection {
  position: relative;
  z-index: 3;
  display: flex;
  margin-top: 87px;
  column-gap: 56px;
  justify-content: center;
  margin-bottom: 135.4px;
  margin-left: 2px;
}

.featureItem {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  border-radius: 42px;
  box-shadow: 0px 25px 50px 25px rgba(246, 247, 255, 1);
  min-width: 343px;
}

.featureItemTitle {
  padding: 3px 47px 10px 46px;
  margin: auto;
  line-height: 22.5px;
  font-size: 18px;
  font-weight: 600;
  color: #091156;
  margin-bottom: 10px;
}

.featureItemImg {
  margin: 51px auto 56px auto;

  height: 166px;
  width: 166px;
}

.featureItemDescription {
  margin: auto;
  text-align: center;
  max-width: 274px;
  letter-spacing: 1.4px;
  line-height: 21px;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 70px;
  color: #8b8b8b;
}

.aboutUs {
  color: #ff64ae;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  margin-bottom: 12px;
}

.aboutUsDecriptsion {
  max-width: 483px;
  line-height: 24px;
  letter-spacing: 1.6px;
  font-size: 16px;
  color: #8b8b8b;
  margin-bottom: 25px;
}

.aboutUsTitle {
  color: #091156;
  white-space: nowrap;
  font-size: 36px;
  font-weight: 600;
  line-height: 45px;
  text-align: left;

  margin-bottom: 20px;
}

.sectionAboutUs {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-left: 2px;
}
.sectionAboutContent {
  width: 664px;
}
.aboutUsMoreDecriptsion {
  max-width: 483px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 1.6px;
  font-size: 16px;
  color: #8b8b8b;
}

.AboutUsImg {
  z-index: 2;
  width: 476px;
  border-radius: 50px;
  height: 350px;
  margin: 44px 0 0 7px;
  width: 480px;
}

.AboutUsImg > img {
  width: 100%;
}

.containerAboutContent {
  z-index: 2;
  display: flex;
  flex-direction: column;
}

.btnLearnMore {
  background-color: #ff64ae;
  color: #ffffff;
  width: 200px;
  border-radius: 50px;
  text-align: center;
  letter-spacing: 1.6px;
  font-size: 16px;
  line-height: 58.36px;
  font-weight: 600;
  margin: 2px 0 0 1px;
}

.btnPlayVideo {
  margin-top: 3px;
  display: flex;
  align-items: center;
  line-height: 24px;
  letter-spacing: 1.6px;
  font-size: 16px;
  font-weight: 600;
  color: #8b8b8b;
  margin-left: 44px;
}

.aboutUsBtn {
  display: flex;
  margin-top: 50px;
}

.videoIcon {
  width: 49px;
  height: 49px;
  margin-right: 13px;
}

.videoText {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1.6px;
  color: #8b8b8b;
}

.backgroundBubble {
  position: absolute;
  z-index: 0;
  right: 0;
  top: 500px;
}

.bubble > img {
  width: 948.15px;
  height: 1028.89px;
}

.teamsName {
  margin: 54px auto 15px;
  color: #ff64ae;
}

.Professional {
  text-align: center;
  max-width: 1085px;

  margin-top: 143.2px;
}

.professionalIteams {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-width: 270px;
  text-align: center;
  padding: 91px 0 75px;
}

.active {
  box-shadow: 0px 25px 50px 25px rgba(246, 247, 255, 1);
  border-radius: 42px;
  width: 424px;
}

.professionalImg {
  margin: 0 auto;
  width: 146px;
  height: 146px;
  margin-bottom: 53px;
}

.professionalName {
  color: #ff64ae;
  line-height: 20px;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 14px;
}

.professionalTitle {
  color: #091156;
  font-weight: 600;
  font-size: 18px;
  line-height: 22.5px;
  margin-bottom: 20px;
}

.professionalDescription {
  color: #8b8b8b;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 1.4px;
  max-width: 270px;
  text-align: center;
}

.professionalIcon {
  margin-top: 42px;
  margin-left: -8px;
}

.contactUsSection {
  position: relative;
  margin-top: 138px;
  display: flex;
  flex-direction: row;
  z-index: 3;
  margin-bottom: 69.66px;
  column-gap: 103px;
}

.contactUsImg {
  margin-top: 160px;
}

.contactUsContent {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.contactUsTitle {
  color: #ff64ae;
  line-height: 20px;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 12px;
}

.contactUsDescription {
  color: #8b8b8b;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1.6px;
  font-weight: 400;
  margin-bottom: 48px;
}

.contactUsAction {
  color: #091156;
  font-size: 36px;
  line-height: 45px;
  max-width: 404px;
  font-weight: 600;
  margin-bottom: 18px;
}

.contactUsContent input {
  border: 1px solid rgba(217, 221, 254, 1);
  border-radius: 15px;
  padding: 22px 84.21px 16.58px 20px;
  height: 61.58px;
}

.inputName {
  width: 242.21px;
}

::placeholder {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1.6px;
  font-family: "Poppins", sans-serif !important;
  font-weight: 500;
  font-style: normal;
}

.inputEmail {
  padding: 17px 84.21px 16.58px 24px;
  width: 520px;
  height: 61.58px;
}

.contactUsForm {
  display: flex;
  flex-direction: column;
  row-gap: 38.32px;
}

.backgroundBubbleContactUs {
  position: absolute;
  top: 3142px;
  z-index: 0;
}

.inputIquiry {
  border: 1px solid rgba(217, 221, 254, 1);
  padding: 25.32px 267px 186.16px 24px;
  width: 520px;
  height: 239.47px;
}

.btnSend {
  box-shadow: 0px 17px 22px 0px rgba(255, 237, 246, 1);
  width: 248px;
  padding: 18px 0;
  background-color: #ff64ae;
  border-radius: 50px;
  color: #ffffff;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1.6px;
  margin-top: 54.84px;
}

footer {
  position: relative;
  margin-top: 69.66px;
  width: 100%;
}

.footerwrapper {
  width: 100%;
  position: relative;
  z-index: 3;
  padding: 210.34px 0 0 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.bgFooter {
  position: absolute;
  z-index: -2;
  width: 100%;
  bottom: -95px;
}

.bgFooter > img {
  width: 100%;
}

.footerContent {
  display: flex;
  flex-direction: row;
}

.footerLogo {
  margin-right: 155px;
  margin-bottom: 154px;
}

.footerLogo > img {
  width: 258px;
  height: 63px;
  margin-bottom: 34px;
  margin-top: 30px;
}

.themeDescription {
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 1.6px;
  font-size: 16px;
  color: #d7dbff;
  margin-left: 32px;
  margin-bottom: 22px;
}

.Beautice {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1em;
  text-align: left;
}

.themeText {
  color: #d7dbff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 1.6px;
  text-align: left;
}

.address {
  color: #d7dbff;
  font-size: 14px;
  font-style: italic;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 1.5px;
  text-align: left;
  margin-left: 32px;
  margin-bottom: 4px;
}

.Informations > p > img {
  margin-right: 12.66px;
  margin-left: 4px;
}

.Informations > div > div > span {
  margin-bottom: 12px;
  color: #d7dbff;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.1em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.Informations > div > div {
  margin-bottom: 11px;
}

.informationsTitle {
  color: #ffffff;
  margin-bottom: 28px;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 1.8px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.Informations > div {
  margin-top: 29px;
}
.Informations {
  margin-top: 14px;
}
.Informations > div > div > img {
  margin-right: 12.66px;
  margin-left: 5px;
}

.footerLogoSocialMedia {
  display: flex;
  flex-direction: row;
  column-gap: 41px;
  margin-left: 30px;
}

.phoneNumber {
  color: #d7dbff;
  font-size: 14px;
  font-style: italic;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 1.6px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.mail {
  color: #d7dbff;
  font-size: 14px;
  font-style: italic;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 1.4px;
  text-align: left;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.footerPage {
  margin-right: 203.5px;
  margin-top: 14px;
}

.footerPage > div {
  margin-top: 28px;
}

.socialMedia {
  display: flex;
  flex-direction: row;
  column-gap: 45px;
  width: 25px;
  height: 27.84px;
  justify-items: start;
}

.footerSocialMedia {
  display: flex;

  justify-content: space-between;
}

.toTopButton {
  position: absolute;
  right: -86.4px;
  top: 497.34px;
}

.toTopButton > img {
  width: 36px;
  height: 36px;
}

.page {
  margin-top: 20px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 1.8px;
  text-align: left;
}

.footerPage > div > div {
  margin-bottom: 11px;
}

.footerPage > div > div > span {
  margin-bottom: 21px;
  color: #d7dbff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 1.6px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.footerPage > div > div > img {
  margin-right: 12px;
  margin-left: 4px;
}

.copyright > p {
  color: #d7dbff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 1.6px;
  text-align: right;
}

.backgroundFooter {
  position: absolute;
  z-index: 2;
  top: -2px;
  width: 100%;
  bottom: 0;
}

.backgroundFooter > img {
  width: 100%;
}

.backgroundFooterImg {
  width: 100%;
}
@media only screen and (min-width: 995px) and (max-width: 1200px) {
  .menu {
    display: none;
  }

  .backgroundBubble {
    display: none;
  }

  .logo > img {
    width: 200px;
    object-fit: contain;
  }

  .headerContainer {
    position: relative;
    padding: 30px 50px 0 50px !important;
    margin: 0 auto;
  }

  #hambugerMenu {
    display: block;
  }

  #hambugerMenu > img {
    width: 30px;
    height: 30px;
  }

  .drawerOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }

  .drawer {
    display: block;
    position: fixed;
    top: 0;
    right: -300px;
    width: 250px;
    height: 100%;
    background-color: white;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
    transition: right 0.3s ease;
    z-index: 999;
  }

  .headerImg {
    display: none;
  }

  .drawer > ul {
    list-style-type: none;
    padding-top: 20px;
    padding-left: 20px;
  }

  .imgClose {
    position: relative;
    right: -206px;
    top: 19px;
  }

  .drawer > ul > li {
    padding: 7px 0;
  }

  .drawer > ul > li > a {
    color: #091156;
    text-decoration: none;
  }

  .banner {
    width: 100%;
    margin-top: 100px;
    z-index: 0;
    display: flex;
    flex-direction: column;
    row-gap: 60px;
  }

  .sectionAboutContent {
    margin: 100px 0 0 26px;
  }

  .contactUsContent {
    width: 100%;
    margin: 0 auto 30px;
  }

  .contactUsForm {
    width: 100%;
  }

  .contactUsContent > form {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .inputName {
    padding: 0;
    margin: 0;
    width: 48%;
  }

  ::placeholder {
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 1.6px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  .inputEmail {
    width: 100%;
  }

  .inputMessage {
    width: 100%;
  }

  form {
    width: 100%;
  }

  .inputIquiry {
    width: 100%;
    padding: 20px 0 0 20px;
  }

  .Beautice {
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 1.4px;
    text-align: left;
  }

  .contentBannerTitle {
    max-width: 100%;
    font-family: Poppins;
    font-size: 46px;
    font-weight: 400;
    line-height: 52px;
    text-align: center;
  }

  .contentBanner {
    min-width: 200px;
    margin: 0 auto;
    padding-left: 0px !important;
  }

  .contentBannerDescription {
    color: #091156;
    max-width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: 1.4;
  }

  .btnDetail {
    margin: 50px auto 0;
    font-size: 14px;
    border-radius: 50px;
    font-weight: 500;
    width: 150px;
    height: 48.36px;
    letter-spacing: 1.4px;
    line-height: 48.36px;
  }

  .bannerImg {
    object-fit: contain;
    width: 50%;

    margin: 0 auto;
  }

  .bannerImg > img {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    object-fit: fill;
  }

  .container {
    margin: 0 auto;
    padding: 0;
  }

  .wrapper {
    margin: 50px auto 0;
    padding: 0px;
  }

  .mainServiceSection {
    max-width: 100%;
    font-size: 14px;
  }

  .section {
    text-align: center;
    padding: 0 20px;
  }

  .mainServiceTitle {
    max-width: 100%;
    font-size: 34px;
    font-weight: 600;
    line-height: 43px;
  }

  .mainServiceDescription {
    margin: 0 auto;
    max-width: 100%;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 1.4px;
  }

  .featureSection {
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    padding: 0 20px;
  }

  .featureItem {
    min-width: 30%;
    margin: 50px auto 0;
  }

  .featureItemImg {
    width: 60%;
    object-fit: contain;
  }

  .featureItemTitle {
    max-width: 60%;
    font-size: 16px;
    font-weight: 600;
    line-height: 20.5px;
  }

  .featureItemDescription {
    font-size: 12px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 1.4px;
  }

  .sectionAboutUs {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    text-align: center;
  }

  .aboutUs {
    font-size: 14px;
    margin: 0 auto;
  }

  .aboutUsTitle {
    font-size: 16px;
    text-align: center;
  }

  .aboutUsDecriptsion {
    max-width: 80%;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 1.8px;
    text-align: center;
  }

  .aboutUsMoreDecriptsion {
    margin: 0 auto;
    max-width: 80%;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 1.4px;
  }

  .aboutUsBtn {
    margin-top: 20px;
    justify-content: space-evenly;
  }

  .btnLearnMore {
    width: 150px;
    height: 48.36px;
    letter-spacing: 1.4px;
    font-size: 14px;
    line-height: 48.36px;
    font-weight: 600;
  }

  .btnPlayVideo {
    margin: 0;
    line-height: 22px;
    letter-spacing: 1.4px;
    font-size: 14px;
    font-weight: 600;
    margin-left: 44px;
  }

  .btnPlayVideo {
    margin-left: 11px;
    line-height: 20px;
    letter-spacing: 1.2px;
    font-size: 12px;
    font-weight: 600;
  }

  .videoIcon {
    margin-right: 7px;
  }

  .videoText {
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1.4px;
    color: #8b8b8b;
  }

  .aboutUsImg {
    margin: 0 auto;
    width: 100%;
    height: 700px;
    margin: 0;
  }

  .aboutUsImg > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .backgroundBubble {
    display: none;
  }

  .Professional {
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
  }

  .professionalIteams {
    min-width: 28%;
  }

  .mainService {
    margin: 0 auto;
  }

  .mainServiceDescription {
    margin: 0 auto;
  }

  .mainServiceTitle {
    margin: 0 auto;
    font-size: 34px;
    font-weight: 600;
    line-height: 44px;
  }

  .contactUsImg {
    display: none;
  }

  .professionalDescription {
    margin: 0 auto;
  }

  .contactUsTitle {
    font-size: 14px;
    font-weight: 600;
    text-align: center;
  }

  .contactUsAction {
    max-width: 100%;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
  }

  .contactUsDescription {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 1.4px;
    text-align: center;
  }

  .btnSend {
    width: 180px;
    padding: 16px 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 1.4px;
    margin: 30px auto;
  }

  .backgroundBubbleContactUs {
    display: none;
  }

  footer {
    position: relative;
    /* background-color: #172176; */
    width: 100%;
  }

  .footerwrapper {
    width: 80%;
    position: relative;
    z-index: 3;
    padding: 160.34px 0 0 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  .bgFooter {
    display: none;
  }

  .bgFooter > img {
    width: 100%;
  }

  .footerContent {
    display: flex;
    flex-direction: row;
    margin-top: 16px;
    column-gap: 80px;
    margin-bottom: 150px;
  }

  .footerLogo {
    width: 50%;
    margin: 0;
  }

  .footerLogo > img {
    width: 258px;

    margin-bottom: 34px;
    margin-top: 16px;
  }

  .themeDescription {
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1.6px;
    font-size: 16px;
    color: #d7dbff;
    margin-left: 31px;
    margin-bottom: 22px;
  }

  .Beautice {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1em;
    text-align: left;
  }

  .themeText {
    color: #d7dbff;
    font-size: 16px;
    font-weight: 400 !important;
    line-height: 24px;
    letter-spacing: 1.6px;
    text-align: left;
  }

  .address {
    color: #d7dbff;
    font-size: 14px;
    font-style: italic;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 1.4px !important;
    text-align: left;
    margin-left: 31px;
    margin-bottom: 4px;
  }

  .Informations > p > img {
    margin-right: 12.66px;
    margin-left: 4px;
  }

  .Informations > div > div > span {
    margin-bottom: 12px !important;
    color: #d7dbff;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.1em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .Informations > div > div {
    margin-bottom: 11px;
  }

  .informationsTitle {
    color: #ffffff;
    margin-bottom: 28px;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 1.8px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .Informations {
    width: 30%;
  }

  .Informations > div {
    margin-top: 29px;
  }

  .Informations > div > div > img {
    margin-right: 12.66px;
    margin-left: 5px;
  }

  .footerLogoSocialMedia {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin: 0 auto;
          padding: 0; */
  }

  .mail {
    color: #d7dbff;
    font-size: 14px;
    font-style: italic;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 1.4px;
    text-align: left;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .footerPage {
    margin: 0;
    width: 30%;
  }

  .footerPage > div {
    margin-top: 28px;
  }

  .footerPage > div > div {
    width: 100%;
  }

  .socialMedia {
    display: flex;
    justify-items: center;
    column-gap: 45px;
    width: 100%;
    justify-content: center;
  }

  .footerSocialMedia {
    width: 100%;

    flex-direction: column;
    row-gap: 30px;
    margin: 0 0 30px 0;
  }

  .toTopButton {
    position: absolute;
    right: 65.6px;
    top: 500.34px;
    right: 0;
  }

  .toTopButton > img {
    width: 36px;
    height: 36px;
  }

  .page {
    color: #ffffff;
    font-size: 18px !important;
    font-weight: 600 !important;
    line-height: 27px !important;
    letter-spacing: 1.8px !important;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .footerPage > div > div {
    margin-bottom: 11px;
  }

  .footerPage > div > div > span {
    margin-bottom: 21px;
    color: #d7dbff;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1.6px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .footerPage > div > div > img {
    margin-right: 12px;
    margin-left: 4px;
  }

  .copyright > p {
    color: #d7dbff;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1.6px;
    text-align: center;
    margin-right: 0;
  }

  .backgroundFooter {
    position: absolute;
    z-index: 2;
    top: 0;
    width: 100%;
    bottom: 0;
  }

  .backgroundFooter > img {
    width: 100%;
  }

  .backgroundFooterImg {
    width: 100%;
  }

  .backgroundFooter {
    display: none;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1439px) {
  footer {
    position: relative;
    background-color: #172176;
    width: 100%;
  }

  .bgFooter {
    display: none;
  }

  .backgroundFooter {
    display: none;
  }

  .footerSocialMedia {
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 572px) {
  .menu {
    display: none;
  }

  .backgroundBubble {
    display: none;
  }

  .logo > img {
    width: 200px;
    object-fit: contain;
  }

  .headerContainer {
    column-gap: 0px;
    padding: 40px 20px !important;
  }

  #hambugerMenu {
    display: block;
  }

  #hambugerMenu > img {
    width: 30px;
    height: 30px;
  }

  .drawerOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }

  .drawer {
    display: block;
    position: fixed;
    top: 0;
    right: -300px;
    width: 250px;
    height: 100%;
    background-color: white;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
    transition: right 0.3s ease;
    z-index: 999;
  }

  .headerImg {
    display: none;
  }

  .drawer > ul {
    list-style-type: none;
    padding-top: 20px;
    padding-left: 20px;
  }

  .imgClose {
    position: relative;
    right: -206px;
    top: 19px;
  }

  .drawer > ul > li {
    padding: 7px 0;
  }

  .drawer > ul > li > a {
    color: #091156;
    text-decoration: none;
  }

  .banner {
    width: 100%;
    margin-top: 100px;
    z-index: 0;
    display: flex;
    flex-direction: column;
    row-gap: 60px;
  }

  .sectionAboutContent {
    width: 100%;
    margin: 100px 0 0 0;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .contactUsContent {
    width: 100%;
    margin: 0 auto;
  }

  .contactUsName {
    display: flex;
    column-gap: 20px;
  }

  .contactUsContent > form {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 30px;
  }

  .contactUsForm {
    width: 100%;
  }

  .inputName {
    padding: 0;
    margin: 0;
    width: 50%;
  }

  ::placeholder {
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 1.6px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  .inputEmail {
    width: 100%;
  }

  .inputMessage {
    width: 100%;
  }

  form {
    width: 100%;
  }

  .inputIquiry {
    width: 100%;
    padding: 20px 0 0 20px;
  }

  .Beautice {
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 1.4px;
    text-align: left;
  }

  .contentBannerTitle {
    max-width: 300px;
    font-family: Poppins;
    font-size: 46px;
    font-weight: 400;
    line-height: 52px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .contentBanner {
    min-width: 200px;
    margin: 0 auto;
  }

  .contentBannerDescription {
    color: #091156;
    max-width: 350px;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: 1.4;
  }

  .btnDetail {
    margin: 50px auto 0;
    font-size: 14px;
    border-radius: 50px;
    font-weight: 500;
    width: 150px;
    height: 48.36px;
    letter-spacing: 1.4px;
    line-height: 48.36px;
  }

  .bannerImg {
    width: 250px;
    height: 250px;
    margin: 0 auto;
  }

  .bannerImg > img {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    object-fit: fill;
  }

  .container {
    margin: 0 auto;
    padding: 0;
  }

  .wrapper {
    margin: 50px auto 0;
    padding: 0px;
  }

  .mainServiceSe {
    font-size: 14px;
  }

  .section {
    text-align: center;
  }

  .mainServiceTitle {
    max-width: 400px;
    font-size: 34px;
    font-weight: 600;
    line-height: 43px;
  }

  .mainServiceDescription {
    margin: 0 auto;
    max-width: 450px;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 1.4px;
  }

  .featureSection {
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  .featureItem {
    width: 300px;
    margin: 50px auto 0;
  }

  .featureItemTitle {
    font-size: 16px;
    font-weight: 600;
    line-height: 20.5px;
  }

  .featureItemDescription {
    font-size: 12px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 1.4px;
  }

  .sectionAboutUs {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    text-align: center;
    width: 90%;
  }

  .aboutUs {
    font-size: 14px;
    margin: 0 auto;
  }

  .aboutUsTitle {
    font-size: 16px;
    text-align: center;
    margin: 0 auto;
  }

  .aboutUsDecriptsion {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 1.4px;
  }

  .aboutUsMoreDecriptsion {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 1.4px;
  }

  .aboutUsBtn {
    margin-top: 20px;
    justify-content: center;
  }

  .btnLearnMore {
    width: 150px;
    height: 48.36px;
    letter-spacing: 1.4px;
    font-size: 14px;
    line-height: 48.36px;
    font-weight: 600;
  }

  .btnPlayVideo {
    margin: 0;
    line-height: 22px;
    letter-spacing: 1.4px;
    font-size: 14px;
    font-weight: 600;
    margin-left: 44px;
  }

  .btnPlayVideo {
    margin-left: 11px;
    line-height: 20px;
    letter-spacing: 1.2px;
    font-size: 12px;
    font-weight: 600;
  }

  .videoIcon {
    margin-right: 7px;
  }

  .videoText {
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1.4px;
    color: #8b8b8b;
  }

  .aboutUsImg {
    margin: 0 auto;
    width: 100%;
    height: 350px;

    width: 90%;
  }

  .aboutUsImg > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .backgroundBubble {
    display: none;
  }

  .Professional {
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    column-gap: 0px;
  }

  .professionalIteams {
    width: 80%;
  }

  .mainService {
    margin: 0 auto;
  }

  .mainServiceDescription {
    margin: 0 auto;
  }

  .mainServiceTitle {
    margin: 0 auto;
    font-size: 34px;
    font-weight: 600;
    line-height: 44px;
  }

  .contactUsImg {
    display: none;
  }

  .professionalDescription {
    margin: 0 auto;
  }

  .contactUsTitle {
    font-size: 14px;
    font-weight: 600;
    text-align: center;
  }

  .contactUsAction {
    margin: 0 auto;
    max-width: 80%;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
  }

  .contactUsDescription {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 1.4px;
    text-align: center;
  }

  .btnSend {
    width: 180px;
    padding: 16px 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 1.4px;
    margin: 0 auto;
  }

  .backgroundBubbleContactUs {
    display: none;
  }

  .footerLogo {
    justify-items: center;
  }

  footer {
    width: 100%;
  }

  .footerLogo > img {
    width: 200px;
    object-fit: contain;
  }

  .backgroundFooter {
    width: 100%;
    height: 100%;
  }

  .backgroundFooter > img {
    width: 100%;
    height: 100%;
  }

  .bgFooter {
    bottom: 45px;
    width: 100%;
    height: 100px;
  }

  .bgFooter > img {
    height: 150px;
  }

  .footerwrapper {
    padding: 0;
    margin: 0;
  }

  .footerContent {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    padding: 30px 0 0 0;
  }

  .footerPage {
    display: none;
    /* display: flex;
          flex-direction: row; */
  }

  .Informations {
    display: none;
    /* display: flex;
          flex-direction: row; */
  }

  .toTopButton {
    top: 271.34px;
    right: 30.6px;
  }

  .footerSocialMedia {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: start;
  }

  .themeDescription {
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1.6px;
    font-size: 16px;
    color: #d7dbff;
    text-align: center;
    margin: 0;
  }

  .address {
    color: #d7dbff;
    font-size: 12px;
    font-style: italic;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 1.4px;
    margin-bottom: 4px;
    margin-left: 0;
  }

  .footerLogoSocialMedia {
    width: 100%;
    margin-left: 0;
    justify-content: center;
  }

  .socialMedia {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    flex-direction: row;
    column-gap: 25px;
    width: 25px;
    height: 20.84px;
  }

  .footerLogo {
    margin: 0 auto 20px;
  }

  .copyright {
    max-width: 100%;
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 1.4px;
    text-align: center;
    width: 100%;
    margin-bottom: 50px;
  }

  .copyright > p {
    color: #d7dbff;
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 1.4px;

    margin-right: 0px;
  }
}
@media only screen and (min-width: 572px) and (max-width: 995px) {
  .menu {
    display: none;
  }

  .backgroundBubble {
    display: none;
  }

  .logo > img {
    width: 200px;
    object-fit: contain;
  }

  .headerContainer {
    position: relative;
    padding: 40px 20px !important;
  }

  #hambugerMenu {
    display: block;
  }

  #hambugerMenu > img {
    width: 30px;
    height: 30px;
  }

  .drawerOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }

  .drawer {
    display: block;
    position: fixed;
    top: 0;
    right: -300px;
    width: 250px;
    height: 100%;
    background-color: white;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
    transition: right 0.3s ease;
    z-index: 999;
  }

  .headerImg {
    display: none;
  }

  .drawer > ul {
    list-style-type: none;
    padding-top: 20px;
    padding-left: 20px;
  }

  .imgClose {
    position: relative;
    right: -206px;
    top: 19px;
  }

  .drawer > ul > li {
    padding: 7px 0;
  }

  .drawer > ul > li > a {
    color: #091156;
    text-decoration: none;
  }

  .banner {
    width: 100%;
    margin-top: 100px;
    z-index: 0;
    display: flex;
    flex-direction: column;
    row-gap: 60px;
  }

  .sectionAboutContent {
    margin: 100px 0 0 26px;
  }

  .contactUsContent {
    width: 100%;
    margin: 0 auto;
  }

  .contactUsName {
    display: flex;
    column-gap: 20px;
  }

  .contactUsContent > form {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 30px;
  }

  .contactUsForm {
    width: 100%;
  }

  .inputName {
    padding: 0;
    margin: 0;
    width: 50%;
  }

  ::placeholder {
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 1.6px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  .inputEmail {
    width: 100%;
  }

  .inputMessage {
    width: 100%;
  }

  form {
    width: 100%;
  }

  .inputIquiry {
    width: 100%;
    padding: 20px 0 0 20px;
  }

  .Beautice {
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 1.4px;
    text-align: left;
  }

  .contentBannerTitle {
    max-width: 300px;
    font-family: Poppins;
    font-size: 46px;
    font-weight: 400;
    line-height: 52px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .contentBanner {
    min-width: 200px;
    margin: 0 auto;
    padding: 0;
  }

  .contentBannerDescription {
    color: #091156;
    max-width: 350px;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: 1.4;
  }

  .btnDetail {
    margin: 50px auto 0;
    font-size: 14px;
    border-radius: 50px;
    font-weight: 500;
    width: 150px;
    height: 48.36px;
    letter-spacing: 1.4px;
    line-height: 48.36px;
  }

  .bannerImg {
    width: 70%;
    margin: 0 auto;
  }

  .bannerImg > img {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .container {
    margin: 0 auto;
    padding: 0;
  }

  .wrapper {
    margin: 50px auto 0;
    padding: 0px;
  }

  .mainServiceSection {
    font-size: 14px;
  }

  .section {
    text-align: center;
  }

  .mainServiceTitle {
    max-width: 400px;
    font-size: 34px;
    font-weight: 600;
    line-height: 43px;
  }

  .mainServiceDescription {
    margin: 0 auto;
    max-width: 450px;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 1.4px;
  }

  .featureSection {
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  .featureItem {
    width: 300px;
    margin: 50px auto 0;
  }

  .featureItemTitle {
    font-size: 16px;
    font-weight: 600;
    line-height: 20.5px;
  }

  .featureItemDescription {
    font-size: 12px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 1.4px;
  }

  .sectionAboutUs {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    text-align: center;
  }

  .aboutUs {
    font-size: 14px;
    margin: 0 auto;
  }

  .aboutUsTitle {
    font-size: 16px;
    text-align: center;
  }

  .aboutUsDecriptsion {
    max-width: 90%;
    margin: 0 auto;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 1.4px;
  }

  .aboutUsMoreDecriptsion {
    max-width: 90%;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 1.4px;
    margin: 0 auto;
  }

  .aboutUsBtn {
    margin-top: 20px;
    column-gap: 40px;
    justify-content: center;
  }

  .btnLearnMore {
    width: 150px;
    height: 48.36px;
    letter-spacing: 1.4px;
    font-size: 14px;
    line-height: 48.36px;
    font-weight: 600;
  }

  .btnPlayVideo {
    margin: 0;
    line-height: 22px;
    letter-spacing: 1.4px;
    font-size: 14px;
    font-weight: 600;
    margin-left: 44px;
  }

  .btnPlayVideo {
    margin-left: 11px;
    line-height: 20px;
    letter-spacing: 1.2px;
    font-size: 12px;
    font-weight: 600;
  }

  .videoIcon {
    margin-right: 7px;
  }

  .videoText {
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1.4px;
    color: #8b8b8b;
  }

  .aboutUsImg {
    margin: 0 auto;
    width: 100%;
    height: 600px;

    margin: 0;
  }

  .aboutUsImg > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .backgroundBubble {
    display: none;
  }

  .Professional {
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    column-gap: 0px;
  }

  .professionalIteams {
    width: 80%;
  }

  .mainService {
    margin: 0 auto;
  }

  .mainServiceDescription {
    margin: 0 auto;
  }

  .mainServiceTitle {
    margin: 0 auto;
    font-size: 34px;
    font-weight: 600;
    line-height: 44px;
  }

  .contactUsImg {
    display: none;
  }

  .professionalDescription {
    margin: 0 auto;
  }

  .contactUsTitle {
    font-size: 14px;
    font-weight: 600;
    text-align: center;
  }

  .contactUsAction {
    margin: 0 auto;
    max-width: 80%;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
  }

  .contactUsDescription {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 1.4px;
    text-align: center;
  }

  .btnSend {
    width: 180px;
    padding: 16px 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 1.4px;
    margin: 0 auto;
  }

  .backgroundBubbleContactUs {
    display: none;
  }

  .footerLogo {
    justify-items: center;
  }

  footer {
    width: 100%;
  }

  .footerLogo > img {
    width: 200px;
    object-fit: contain;
  }

  .backgroundFooter {
    width: 100%;
    height: 100%;
  }

  .backgroundFooter > img {
    width: 100%;
    height: 100%;
  }

  .bgFooter {
    bottom: 45px;
    width: 100%;
    height: 100px;
  }

  .bgFooter > img {
    height: 150px;
  }

  .footerwrapper {
    padding: 0;
    margin: 0;
  }

  .footerContent {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    padding: 30px 0 0 0;
  }

  .footerPage {
    display: none;
    /* display: flex;
          flex-direction: row; */
  }

  .Informations {
    display: none;
    /* display: flex;
          flex-direction: row; */
  }

  .toTopButton {
    top: 271.34px;
  }

  .footerSocialMedia {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: start;
  }

  .themeDescription {
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1.6px;
    font-size: 16px;
    color: #d7dbff;
    text-align: center;
    margin: 0;
  }

  .address {
    color: #d7dbff;
    font-size: 12px;
    font-style: italic;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 1.4px;
    margin-bottom: 4px;
    margin-left: 0;
  }

  .footerLogoSocialMedia {
    width: 100%;
    margin-left: 0;
    justify-content: center;
  }

  .socialMedia {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    flex-direction: row;
    column-gap: 25px;
    width: 25px;
    height: 20.84px;
  }

  .footerLogo {
    margin: 0 auto 20px;
  }

  .copyright {
    max-width: 100%;
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 1.4px;
    text-align: center;
    width: 100%;
    margin-bottom: 50px;
  }

  .copyright > p {
    color: #d7dbff;
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 1.4px;

    margin-right: 0px;
  }
}
