@media only screen and (max-width: 572px) {
    .menu {
        display: none;
    }

    .backgroundBubble {
        display: none;
    }

    .logo>img {
        width: 200px;
        object-fit: contain;
    }

    .headerContainer {
        position: relative;
        padding: 40px 20px;
        margin: 0 auto;
    }

    #hambugerMenu {
        display: block;
    }

    #hambugerMenu>img {
        width: 30px;
        height: 30px;
    }

    .drawerOverlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100%;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease, visibility 0.3s ease;
    }

    .drawer {
        display: block;
        position: fixed;
        top: 0;
        right: -300px;
        width: 250px;
        height: 100%;
        background-color: white;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
        transition: right 0.3s ease;
        z-index: 999;
    }

    .headerImg {
        display: none;
    }

    .drawer>ul {
        list-style-type: none;
        padding-top: 20px;
        padding-left: 20px;

    }

    .imgClose {
        position: relative;
        right: -206px;
        top: 19px;
    }

    .drawer>ul>li {
        padding: 7px 0;
    }

    .drawer>ul>li>a {

        color: #091156;
        text-decoration: none
    }

    .banner {
        width: 300px;
        margin-top: 100px;
        z-index: 0;
        display: flex;
        flex-direction: column;
        row-gap: 60px;
    }

    .sectionAboutContent {
        margin: 100px 0 0 26px;

    }

    .contactUsContent {
        margin: 0 auto;
    }

    .contentBannerTitle {
        max-width: 300px;
        font-family: Poppins;
        font-size: 46px;
        font-weight: 400;
        line-height: 52px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
    }

    .contentBanner {
        min-width: 200px;
        margin: auto !important;
    }

    .contentBannerDescription {
        color: #091156;
        max-width: 350px;
        font-size: 14px;
        font-weight: 300;
        line-height: 22px;
        letter-spacing: 1.4;
    }

    .btnDetail {
        font-size: 14px;
        border-radius: 50px;
        font-weight: 500;
        width: 150px;
        height: 48.36px;
        letter-spacing: 1.4px;
        line-height: 48.36px;
    }

    .bannerImg {
        width: 250px !important;
        height: 250px;
        margin: 0 auto !important;
    }

    .bannerImg>img {
        margin: 0 auto !important;
        width: 100%;
        height: 100%;
        object-fit: fill;
    }

    .container {
        margin: 0 auto;
        padding: 0;
    }

    .wrapper {
        margin: 50px auto 0;
        padding: 0px;
    }

    .mainService {
        font-size: 14px;
    }

    .section {
        text-align: center;
    }

    .mainServiceTitle {
        max-width: 400px;
        font-size: 34px;
        font-weight: 600;
        line-height: 43px;

    }

    .mainServiceDescription {
        margin: 0 auto;
        max-width: 450px;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 1.4px;
    }

    .featureSection {
        margin: 0;
        display: flex;
        flex-direction: column;

    }

    .featureItem {
        width: 300px;
        margin: 50px auto 0;
    }

    .featureItemTitle {
        font-size: 16px;
        font-weight: 600;
        line-height: 20.5px;
    }

    .featureItemDescription {
        font-size: 12px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 1.4px;
    }

    .sectionAboutUs {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        text-align: center;
    }

    .aboutUs {
        font-size: 14px;
        margin: 0 auto;

    }

    .aboutUsTitle {
        font-size: 16px;

    }

    .aboutUsDecriptsion {
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 1.4px;
    }

    .aboutUsMoreDecriptsion {
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 1.4px;
    }

    .aboutUsBtn {
        margin-top: 20px;
        justify-content: center;
    }

    .btnLearnMore {
        width: 150px;
        height: 48.36px;
        letter-spacing: 1.4px;
        font-size: 14px;
        line-height: 48.36px;
        font-weight: 600;
    }

    .btnPlayVideo {
        margin: 0;
        line-height: 22px;
        letter-spacing: 1.4px;
        font-size: 14px;
        font-weight: 600;
        margin-left: 44px;
    }

    .videoText {
        font-weight: 600;
        font-size: 14px;
        letter-spacing: 1.4px;
        color: #8B8B8B;
    }

    .aboutUsImg {
        margin: 0 auto;
        width: 500px;
        height: 350px;
        object-fit: contain;
        margin: 0;
    }

    .aboutUsImg>img {
        width: 100%;
        height: 100%;

    }

    .backgroundBubble {
        display: none;
    }

    .Professional {
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        column-gap: 0px;
    }

    .professionalIteams {
        width: 380px;
    }

    .mainService {
        margin: 0 auto;
    }

    .mainServiceDescription {
        margin: 0 auto;
    }

    .mainServiceTitle {
        margin: 0 auto;
        font-size: 34px;
        font-weight: 600;
        line-height: 44px;

    }

    .contactUsImg {
        display: none;
    }

    .professionalDescription {
        margin: 0 auto;
    }

    .contactUsTitle {
        font-size: 14px;
        font-weight: 600;
        text-align: center;
    }

    .contactUsAction {
        max-width: 528px;
        font-size: 34px;
        font-weight: 600;
        line-height: 40px;
        text-align: center;

    }

    .contactUsDescription {

        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 1.4px;
        text-align: center;
    }

    .btnSend {
        width: 180px;
        padding: 16px 0;
        font-weight: 600;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 1.4px;
    }

    .backgroundBubbleContactUs {
        display: none;
    }

    .footerLogo {
        margin: 0 auto;
    }

    .footerLogo>img {
        width: 200px;
        object-fit: contain;
    }



    .backgroundFooter {
        width: 100%;
        height: 100%
    }

    .backgroundFooter>img {
        width: 100%;
        height: 100%;

    }

    .bgFooter {
        bottom: 45px;
        width: 100%;
        height: 100px;
    }

    .bgFooter>img {
        height: 150px;
    }

    .footerwrapper {
        padding: 20px 0 0 20px;
        margin: 0;
    }

    .footerContent {

        display: flex;
        flex-direction: column;
        margin-bottom: 100px;
    }

    .footerPage {
        display: none;
        /* display: flex;
        flex-direction: row; */
    }

    .Informations {
        display: none;
        /* display: flex;
        flex-direction: row; */
    }

    .toTopButton {
        top: 271.34px;
    }

    .footerSocialMedia {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        align-items: start;

    }

    .socialMedia {
        margin: 0;
        height: 24.84px;

    }

    .footerLogo {
        margin: 0;
    }

    .copyright {

        font-size: 12px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 1.4px;
        text-align: right;
        white-space: nowrap;
        margin-bottom: 50px;
    }

    .copyright>p {

        margin: 0;
    }
}